<table>
  <thead>
  <tr>
    <th>Email</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= link_to "Detalhar", user %></td>
        <td><%= link_to "Apagar", user, :data => { :confirm => "Você tem certeza?" }, :method => :delete %></td>
      </tr>
  <% end %>
  </tbody>
</table>