<p>Olá <%= @resource.email %>!</p>

<p>Alguém requisitou uma atualização da senha da sua conta. Você pode fazer isso através do link abaixo:</p>

<p><%= link_to 'Atualizar senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se não foi você que pediu essa atualização de senha, desconsidere este email.</p>
<p>Sua senha não será atualizada até que você acesse o link acima e crie uma nova.</p>
